<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="styleHomePage.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap" rel="stylesheet"> 

    <title>Tótkomlósi Rozmár Senior Úszó Klubb</title>
</head>
<body>

    <section>
        <div>
            <header>
                <ul class="nav justify-content-end">
                    <li class="nav-item"><a data-th-href="@{/login}" class="btn btn-primary">Bejelentkezés</a></li>
                    <li class="nav-item"><a data-th-href="@{/registration}" class="btn btn-info">Regisztráció</a></li>
                    <li class="nav-item "><a class="btn btn-info" href="#">Korcsoportok</a></li>
                    <li class="nav-item "><a class="btn btn-info" href="#">Nevezések</a></li>
                </ul>      
            </header>  
        </div>
    </section>

    <section class="reg-log" >
        <div>
            <p>
                Magunkról
                Mi,tótkomlósi szeniorok 2004-ben alakítottuk meg egyesületünket.
                Egyesületünk a Magyar Szenior Úszók Országos Szövetségének egyik alapító
                tagszervezete, bejegyzett, közhasznú minősítésű civil szervezet.
                A klubunk célja, hogy lehetőséget biztosítson a szenior korosztályú úszók
                rendszeres edzésére és a versenyzésre és versenyeztetésére, hátteret adjon a
                közép- és időskorúak szabadidős tevékenységének hasznos eltöltésére, és a
                szeniorúszók érdekvédelmének. Mindennél fontosabb célunk azonban az, hogy
                tagjaink megőrizzék egészségüket a rendszeres edzésekkel, és ezt a szinte
                mindenki javára szolgáló testedzési formát a magunk példájával
                népszerűsítsük.
                Tevékenységünkkel népszerűsítjük Tótkomlós városát és a Rózsa fürdőt a
                hazai és nemzetközi versenyeken. Tótkomlós - Rózsa fürdő emblémával jelen
                vagyunk az ország valamennyi szenior versenyén, az ország 10-12
                fürdővárosban és Budapesten is, valamint  szenior Európa- és
                világbajnokságokon és külföldi nemzetközi versenyeken is.
                Ismert tény, hogy Magyarországon az idős korosztály lélekszáma
                gyarapszik, a népesség a szenioritás felé mozdul, az ebből adódó gondokat is
                ismerjük.
                Ezt és a céljainkat tovább gondolva arra jutottunk, hogy az egyesületeken és
                a versenyeken keresztül a szeniorok szervezett sportolási lehetőségének
                megteremtésével és az evvel járó rendszeres orvosi ellenőrzésekkel a hatás
                túlnőhet önmagán: az idősödő nemzedék egészségmegőrzésének fontos,
                könnyen követhető eszközévé válhat amellett, hogy számos idős ember új
                életcélt találhat benne.
                A kezdetektől törekedtünk arra, hogy Tótkomlóson nemzetközi szenior os
                bajnokságot szervezzünk. Egy évvel a klub megalakulása után az akkori
                Magyar Úszószövetség Szenior Úszó Alszövetség támogatásával a tótkomlósi
                országos verseny bekerült a magyarországi szenior úszósport
                versenynaptárába. A verseny hangulata, a baráti és vendégszerető légkör
                mindenkit magával ragadott. A sporttársak a számos érmen kívül a szép
                emlékekből is bőven vihettek haza. A tótkomlósi országos verseny új színt
                hozott Békés megye, az orosházi kistérség életébe és a kistérség kiemelkedő
                országos és nemzetközi hatókörű rendezvényévé vált.
                A Tótkomlósi országos és nemzetközi szenior úszóversenyt minden évben
                megrendezzük. A versenyeinken a „ komlósi Rozmárok” és a Rózsa fürdő
                szeretettel várja a szurkolókat és azokat is, akik csak szórakozni szeretnének
                ezeken a kellemes, napsütéses nyári napokon és látni szeretnék a Dél-Alföld
                legszebb rózsáját. A versenyünkre szeniorúszó egyesületek tagjainak
                nevezésén kívül az egyéni jelentkezőket is szívesen várjuk, hiszen a rendezvény
                fő célja az, hogy a versenyen keresztül népszerűsítsük az úszást és az
                egészséges életmódot az idősebb korosztályokban.
                Teljes mértékben igaz a mondás: &quot;Nem a győzelem, a részvétel a fontos&quot;.

                Egy-egy szenior úszóverseny igazi családias hangulatban telik. Mindig van
                egy-két jó szavunk egymáshoz, megy a heccelés, és örülünk minden újonnan
                érkezőnek. Sok-sok sportbarátság szövődik.
                Az egyesület megalakulása óta a Rózsa fürdőben tizenhat versenyt
                rendeztünk és időközben a versenyek nemzetközivé váltak. Versenyeinken
                minden esetben díszvendégként olimpiai és világbajnok úszókat hívtunk meg,
                akik jelenlétükkel nemcsak a versenyeken népszerűsítik Tótkomlóst, hanem a
                várost megismerve szeretettel emlegetik Tótkomlóst más alkalmakor is.
                Egyesületünk versenyzői 2021 ig. két világbajnokságon és hat Európa
                bajnokságon vettek részt.
                Jelenlegi taglétszámunk 38 fő, ebből a létszámból rendszeresen tizenöt-húsz
                huszonöt fő versenyez is. A egyesület munkájában és a saját versenyünk
                rendezésében, lebonyolításában 30-35 fő vesz részt önkéntes munkával. ( (
                (Önkétesek foglalkoztatására 15200-1/2014/ESELY iktatószám alatt van
                engedélyünk az Emberi Erőforrások Minisztériumától) Éves versenyünk és
                edzéseink fő bázisa a Rózsa fürdő.    
                Együttműködünk a város civil szervezeteivel. Folyamatosan frissített
                honlapunkon keresztül tájékoztatjuk az érdeklődőket. Egyesületünk
                tagdíjakból, magánszemélyek és vállalkozások adományaiból, valamint
                pályázatokból és az 1 %- ból és Tótkomlós Város Önkormányzata
                támogatásával tartja fenn magát. Az adományokból tudjuk a versenyünket
                megrendezni. A versenyzőink a külföldi versenyekre (EB, VB )(a nevezési
                díjakra, utazásra, szállásra) saját erőből jutnak el. Belföldi versenyeken az
                egyesület a nevezési díj átvállalásával tudja támogatni a versenyzőinket. Mivel
                az utazás és a szállás költséget saját maguknak kell viselni. Ez nagy terhet ró a
                versenyzőkre.
                
                Két tagtársunk rendelkezik úszó edzői és oktatói végzettséggel, közülük egy
                EUROPASS végzettséggel is rendelkezik. Oktatóink, edzőink segítséget
                nyújtanak a szenior úszók felkészítéséhez, személyre szabott edzéstervet
                készítenek számukra. Konzultációt tartanak ennek megvalósításáról és a
                várható hatásokról.
                Fontos célunk, hogy az idősebb korosztályból az úszni nem tudókat
                megtanítsuk úszni, átsegítsük őket a kezdeti nehézségeken. Ehhez a rozmárok,
                edzőink minden segítséget megadnak, és semmilyen díjazást nem kérnek.
                Tótkomlós, 2022 január 1.
                                                                            Kancsó János az egyesület elnöke
            </p>   
        </div>
    </section>

    <section>
        <footer id="footer">
            <span>Povered by George <a href="https://www.linkedin.com/feed/">LinkedIn</a></span>
        </footer>
    </section>

</body>
</html>